html, body {
    background-color: #000;
    color: #eee;

    margin-left: 0;
    margin-right: 0;

    font-family: "Ubuntu Mono", monospace;
    font-size: 1rem;

    overflow: hidden;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
}
a {
    cursor: pointer;
    color: #0090dd;
    text-decoration: none;
}
a:hover {
    color: #079;
}
.muted {
    color: #555;
}


#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background-color: #222;
}

#status {
    text-align: center;
    position: absolute;
    top: 5px;
    width: 100%;
}

.by {
    position: absolute;
    top: 6px;
}

.written.by {
    left: 10px;
}

.powered.by {
    right: 10px;
}


#container {
    position: absolute;
    top: 25px;
    bottom: 0px;
    width: 100%;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}
