body, html {
    background-color: #f5f5f5;
    color: #333;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
}

#container {
    max-width: 800px;
    margin-left: auto; margin-right: auto;
}

a {
    color: #0070bb;
    text-decoration: none;
}

a:hover {
    color: #035;
}

small {
    color: #555;
}


#stuff {
    font-family: "Lucida Console", monospace;
    font-size: 10pt;
    line-height: 18px;
}


.item {
    transition: opacity 0.2s ease-out;
}

.item:hover {
    opacity: 1;
}


.wip {
    /* dunno what to put here */
}

.boring {
    opacity: 0.5;
}

.emphasis {
    padding-left: 5px;
    -webkit-animation: slide-anim 1s ease-out 0s infinite alternate;
    animation: slide-anim 1s;
}


.tags {
    padding-right: 10px;
    color: #555;
}

.description {
    padding-left: 10px;
}


@-webkit-keyframes slide-anim {
    from {
        padding-left: 0px;
    }
    to {
        padding-left: 5px;
    }
}
