html, body {
    background-color: #121211;
    font-family: Segoe UI, Tahoma, sans-serif;
    font-size: 10pt;

    padding: 0px;
    margin: 0px;

    height: 100%;
    overflow: hidden;
}


#wrapper {
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;

    white-space: nowrap;
    overflow-x: auto;
}

#wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#centered {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}

#image {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;

    background-image: url(transparent.png);

    box-shadow: 0px 0px 50px -15px #999;
    border: 1px solid #444;
}


.nav {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;

    width: 0; 
    height: 0;

    cursor: pointer;

    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;

    opacity: 0.7;
    transition: opacity 0.2s ease-out;

    z-index: 99;
}

.nav:hover {
    opacity: 1;
}

.nav:active {
    opacity: 0.5;
    border-width: 38px;
}

#prevbutton {
    left: 40px;
    border-right: 40px solid #2b2b2b;
}

#prevbutton:hover {
    left: 38px;
}

#nextbutton {
    right: 40px;
    border-left: 40px solid #2b2b2b;
}

#nextbutton:hover {
    right: 38px;
}


#loading {
    display: none;
    opacity: 0;
}


#statusbar {
    color: #bbb;
    background-color: #2b2b2b;

    padding: 2px 5px 5px 5px;
    width: 265px;
    cursor: default;
    text-align: justify;

    position: absolute;
    right: 0;
    top: 0;
}

#statusbar a {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}

#statusbar a:hover {
    color: #fff;
}

#picurl {
    float: right;
    margin-right: 7px;
}


#radios {
    float: right;
}

#radios label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 18px;
    margin-right: 7px;
}

#radios label:hover {
    color: #fff;
}

#radios label:before {
    content: "";
    display: inline-block;

    width: 12px;
    height: 12px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: #6b6b6b;

    border-radius: 7px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(150, 150, 150, .8);
}

#radios input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;

    display: none;
}

#radios input:checked + label:before {
    content: "\2022";  
    color: #eee;  
    font-size: 30px;  
    text-align: center;  
    line-height: 7px;  
}


#favcount {
    float: right;
    margin-right: 7px;
}